%generalStyle{
  color: #000000;
  position: absolute;
  left:10%;
}

.app-navbar{
  grid-area: n;
  justify-content: center;
  position:relative;
  >:hover{
    color:#6980d4;
    transition: all 200ms ease-in-out;
  }
}
.app-main{
  top:40%;
  width: 80%;
  @extend %generalStyle;
}
.app-todo{
  bottom:40%;
  width: 80%;
  @extend %generalStyle;
}
.app-active{
  box-shadow: 0 0 10px rgba(255,255,255,0.7);
}